<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <channelengine_carrier>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>ChannelEngine\ChannelEngineIntegration\Model\Carrier</model>
                <name>ChannelEngine Shipping</name>
                <title>ChannelEngine Shipping</title>
                <shipping_cost>0</shipping_cost>
                <specificerrmsg>This shipping method is not available.</specificerrmsg>
            </channelengine_carrier>
        </carriers>
        <payment>
            <channelengine_payment>
                <title>ChannelEngine Payment Option</title>
                <active>0</active>
                <payment_action>preferred_method</payment_action>
                <model>ChannelEngine\ChannelEngineIntegration\Model\PaymentMethod</model>
                <order_status>pending_payment</order_status>
            </channelengine_payment>
        </payment>
    </default>
</config>